{# Marca/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
<script src="{{ asset('bundles/digitalthoreauhome/js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ asset('bundles/digitalthoreauhome/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/digitalthoreauhome/js/jquery.form.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/digitalthoreauhome/css/bootstrap.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/digitalthoreauhome/css/bootstrap-responsive.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/digitalthoreauhome/css/local.css') }}">
{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}
</head>
<body>

<div id="skipmenu" class="">
<a href="#skip" class="skippy">Skip Navigation</a>
<a name="top"></a>
</div>   
    
{% if app.request.get('view') != 'window' %}
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

            {% if is_granted('ROLE_USER') %}
            <div class="nav-collapse">
            <ul class="nav">  
            {% block subnav %}{% endblock %} 
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">{{ app.session.get('username') }}<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                 </li>
            </ul>
            </div>
            {% else %}
            <ul class="nav pull-right">
            </ul>
            {% endif %} 

      </div>
    </div>
  </div>  
{% endif %}
<div class="container" id="mainContainer">
<h1>Digital Thoreau</h1>     
<img src="/digitalthoreau/web/bundles/digitalthoreauhome/images/dt_header.png" class="img-polaroid "/><hr/>
{%if block('sidebar') %}
    <div class="row " role="navigation">  
    <div class="span2 sidebar">
     <a name="skip"></a>   
     <ul class="nav nav-list">
    {{block('sidebar')}}
    </div>          
    <div class="span10" role="main">      
    {% block content %}          
    {% endblock %}                                          
    </div>   
    </div>
{% else %}
    {{block('body')}}
{% endif %}

</div>
</body>
</html>
