{# Digitalthoreau/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'DigitalthoreauFileBundle::layout.html.twig' %}

{% block body -%}
    <h1 class="inline">File list</h1>
    
            <a class="btn margin-left" href="{{ path('file_upload') }}">
                Upload a file
            </a>

    
    
    <h2>XML</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>        
                <th>MS Image</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in entities if file.type == 1 %}
            <tr>
                <td><span class="label">{{ file.ext }}</span> <a href="{{ path('file_show', { 'id': file.id }) }}">{{ file.name }}</a></td>
                <td>
                    {% if file.manuscriptimage %}
                    <a  class="" href="{{ path('file_view', { 'id': file.manuscriptimage.id }) }}">MS image</a>
                    {% endif %}
                </td>
                <td>
                <ul class="nav files">
                    <li class="dropdown">
                    <a title="Transformation with xsl" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">Transform<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for xsl_file in entities if xsl_file.type == 2 %}
                            <li><a class='' href="{{ path('file_transform', { 'xml_id': file.id, 'xsl_id': xsl_file.id }) }}">{{ xsl_file.name }}</a></li>
                        {% endfor %}
                       </ul>
                   </li>
                </ul>
                </td>
                <td>
                <ul class="inline">
                    <li>
                        <a  class="" href="{{ path('file_view', { 'id': file.id }) }}">Show/Download</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_show', { 'id': file.id }) }}">Show info</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_edit', { 'id': file.id }) }}">Edit info</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    <h2>DTD</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>        
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in entities if file.type == 2 %}
            <tr>
                <td><span class="label">{{ file.ext }}</span> <a href="{{ path('file_show', { 'id': file.id }) }}">{{ file.name }}</a></td>
                <td>
                <ul class="inline">
                    <li>
                        <a  class="" href="{{ path('file_view', { 'id': file.id }) }}">Show/Download</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_show', { 'id': file.id }) }}">Show info</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_edit', { 'id': file.id }) }}">Edit info</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <h2>XSL</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>        
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in entities if file.type == 3 %}
            <tr>
                <td><span class="label">{{ file.ext }}</span> <a href="{{ path('file_show', { 'id': file.id }) }}">{{ file.name }}</a></td>
                <td>
                <ul class="inline">
                    <li>
                        <a  class="" href="{{ path('file_view', { 'id': file.id }) }}">Show/Download</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_show', { 'id': file.id }) }}">Show info</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_edit', { 'id': file.id }) }}">Edit info</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
    <h2>Images</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>        
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in entities if file.type == 4 %}
            <tr>
                <td><span class="label">{{ file.ext }}</span> <a href="{{ path('file_show', { 'id': file.id }) }}">{{ file.name }}</a></td>
                <td>
                <ul class="inline">
                    <li>
                        <a  class="" href="{{ path('file_view', { 'id': file.id }) }}">Show/Download</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_show', { 'id': file.id }) }}">Show info</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_edit', { 'id': file.id }) }}">Edit info</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
  
    {% endblock %}
