{# Digitalthoreau/FileBundle/Resources/views/File/show.html.twig #}

{% extends 'DigitalthoreauFileBundle::layout.html.twig' %}

{% block body -%}
    <h1>File</h1>

 <ul class="inline">
    <li>
        <a class="btn" href="{{ path('file') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a  class="btn" href="{{ path('file_edit', { 'id': file.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('file_delete', { 'id': file.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button  class="btn" type="submit">Delete</button>
        </form>
    </li>
</ul>
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th
                <th>Type</th>
                <th>MS Image</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td><span class="label">{{ file.ext }}</span> <a href="{{ path('file_show', { 'id': file.id }) }}">{{ file.name }}</a></td>
                <td>{{ file.type }}</td>
                <td>
                    {{ file.path }}
                        
                    {% if file.manuscriptimage %}
                    <a  class="" href="{{ path('file_view', { 'id': file.manuscriptimage.id }) }}">MS image</a>
                    {% endif %}
                </td>
                <td>
                <ul class="nav files">
                    <li class="dropdown">
                    <a title="Transformation with xsl" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">Transform<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for xsl_file in files if xsl_file.type == 2 %}
                            <li><a class='' href="{{ path('file_transform', { 'xml_id': file.id, 'xsl_id': xsl_file.id }) }}">{{ xsl_file.name }}</a></li>
                        {% endfor %}
                       </ul>
                   </li>
                </ul>
                </td>
                <td>
                <ul class="inline">
                    <li>
                        <a  class="" href="{{ path('file_view', { 'id': file.id }) }}">Show/Download</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_show', { 'id': file.id }) }}">Show info</a>
                    </li>
                    <li>
                        <a  class="" href="{{ path('file_edit', { 'id': file.id }) }}">Edit info</a>
                    </li>
                </ul>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="span11 well"><h2>Notes</h2>{{file.notes|raw}}</div>

{% endblock %}
